.cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.emptyMessage {
    font-size: 1.2rem;
    color: #555;
    text-align: center;
    margin-top: 20px;
}